{% extends 'stocks/base.html' %}
{% load static %}

{% block title %}
Bio
{% endblock %}



{% block message %}
A bit about me and my current market sentiments
{% endblock %}

{% block content%}
<script>activateHeader("#bio");</script>

<div class="bio">
<h1 class="heavy">About me</h1>
<p>
    During my freshman year at university, my roommate gave me a tip about a potential business merger between GNC and Harbin Pharmaceuticals.
    He told me that if I bought GNC stock right now, I might make a bunch of money. <br/> The next day, I [skeptically] put $300 into my Robinhood account and bought some GNC. 
    About a week later, I sold all my shares for a 45% return! Though I've experienced many (much, much larger) losses since then, I've never lost appreciation 
    for the concept of getting paid for patience and good judgement. 
</p>
</div>
<div>
<h3 class="heavy">What I'm looking at next</h3>
<p>
    As of Dec2022, I think it's a great time to buy. The overall market has had a year of negative returns, and people are getting very
    negative in their outlook for the future (which means it's about time to buy!). I've made most of my returns by being very early and very patient.
    I think dividend yielding stocks will continue be attractive in the near future, and for this reason I like the idea of buying growth stocks [early]. 
    <ul>
        <li> 
            Cryptocurrency is facing many headwinds (local lows, scandals, regulations), but crypto has a history of yielding crazy returns during bullish periods. 
            If you're patient enough and are willing to stick to the less speculative coins that have high utility (ETH, MATIC, BTC), you may just outperform the market on a 
            long enough time horizon.
        </li>
        <li>
            I like Meta's pivot towards the metaverse. Facebook also has its fair share of headwinds (declining in users, young people not singing up, privacy regulations affecting ad-targeting efficacy),
            but they chose innovation over a slow and painful death. I think Meta is a decade early in their endeavors (we need smaller hardware, faster computation, and higher internet speeds) and like any new product that's not yet 10x better than its competitiion, 
            it will take a while for metaverse platforms to mature and bring in users. 
            I suspect Meta's stock will continue to plunge as they spend their declining Facebook profits on metaverse focused products and solutions. But should they make it through the long and hard winter,
            they will be placed at the forefront of a new frontier in a world where hardware continues to get smaller, computation/memory/internet speeds continue to improve, and investors continue to seek a place to put their money
            that might yield them above average returns.
        </li>
        <li>
            Amazon. I am constantly amazed by the quality, speed, support, and constant improvement of Amazon's products and services. I lose absolutely no sleep holding stock in a company that consistently brings the highest level of value to its customers.
        </li>
        <li>
            Medical technology stocks. Especially the speculative ones. Once the FED decides to kick the debt can down the road another decade (which they surely will),
            the music will play and the investors will once again return to the dance floor. Medical technology requires a lot of time (tests, trials, etc.)
            and money to develop. As a buyer at the beginning of a bull market, you'll be in a position where you can hold the bag for years. One or two positive trials/news reports later,
            you're still at the beginning of a bull market, just with more money. Buy-> Wait -> Sell the news. Just be sure that your company has enough cash to make it through the remainder of the bear market. 
        </li>
    </ul>
</p>
</div>
{% endblock %}